html{
background-color: #5aa63b ;
font-family: Cursive ;
} 
/*/ J'applique une couleur et une police a toute la page /*/



body{
padding:0;
margin:0;
}
/*/ J'enleve les marge du body /*/



header{
background-color: #c9ffb3; 
text-align: center;
margin: 100px;
padding: 100px;
box-shadow: 15px 15px 15px black;
}
/*/  /*/



h1{
color: black;
text-align:center;
text-shadow:3px 3px grey;
font-style:oblique;
width: 100%;
font-family: Avantgarde;
}
/*/  /*/



h2{
color: black;
text-align:center;
text-shadow:3px 3px grey;
text-transform:uppercase;
font-style:oblique;
}
/*/  /*/



h3{
text-align: center;
text-decoration: underline;
}
/*/  /*/



box{
display: inline-block; 
background: #c9ffb3; 
width: 400px; 
height: auto; 
float: left; 
margin: 12px;
padding: 5px;
color: black; 
box-shadow: 15px 15px 15px black;
line-height: 17px;
}
/*/  /*/



a:link { 
text-decoration:none; 
} 
/*/ /*/


li{
list-style-type: none;
}


nav{
position: fixed;
width: 100%;
z-index: 1;
margin: 0;
padding: 0;
height: 40px;
top: 0px;
bottom: 0px;
background-color: #c9ffb3;
}
/*/  /*/



nav li{
display: inline;
}
/*/  /*/



footer{
position: fixed;
width: 100%;
}
