header{
background-color: #c9ffb3; 
text-align: center;
margin: 100px;
padding: 100px;
box-shadow: 15px 15px 15px black;
}

h1{
color: black;
text-align:center;
text-shadow:3px 3px grey;
font-style:oblique;
width: 100%;
font-family: Avantgarde;
}
